@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/Content/food.css" />

<div>
    <div id="root" style="border:0px solid red">

    </div>
</div>

<script src="~/dist/bundle.js"></script>